
        h1 {
            font-size: 6vw;
            color: white;
           background-color: navy;
        }

        h2 {
            font-size: 2vw;
            text-align: right;
            color: yellow;
            background-color:skyblue;
            font-family: sans-serif;
        }
        h1, h2 {
            margin: 0;
        }

        main {
            width: 80%;
            text-align: center;
            border-bottom: 9px solid blue;
            background-color: sandybrown;
        }

        img {
            max-width: 70%;
            height: auto;
            padding: 20px 0;
            margin: 0 auto;
            border-radius: 13%;
        }
        @media (max-width: 768px) {
            h1 { 
        color : orange; 
        display : inline;
        }


        }


        @media (max-width: 480px) {
            h1 { 
         color : orange; 
         display : inline;
        }


        }
